* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: none;
  color: #222222;
}

a:visited {
  text-decoration: none;
  color: #222222;
}

a:active {
  text-decoration: none;
  color: #222222;
}

#image_and_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top #health_logo {
  font-size: 40px;
}

#image_and_logo ul {
  display: flex;
}

#image_and_logo ul li {
  padding: 5px;
}

#menu_bar {
  height: 50px;
  background-color: #62a5ec;
}

#menu_bar ul {
  width: 1000px;
  margin: 0 0 0 500px;
  padding: 14px 0 0 80px;
  text-align: start;
}

#menu_bar li {
  display: inline;
  margin-left: 90px;
  color: white;
}

#menu_bar a {
  color: white;
  font-weight: bold;
}

#main_img_bar {
  height: var(--main_img_bar_heigth);
  text-align: center;
  background-color: #79b3f1;
  height: 440px;
}

#main_img_bar .slide_image_box img {
  width: 100%;
}

.slideBox {
  min-width: 600px;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.slide_image_box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide_image_box a {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.slide_nav a {
  width: 71px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background: url("../img/sprites.png") no-repeat;
  text-indent: -9999em;
}

.slide_nav a:first-child {
  background-position: 0 -20px;
  margin-left: -600px;
  background-color: white;
}

.slide_nav a:last-child {
  background-position: -80px -20px;
  margin-left: 600px;
  background-color: white;
}

.slide_indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
}

.slide_indicator a {
  background: url("../img/sprites.png") no-repeat -113px -4px;
  width: 9px;
  height: 8px;
  margin-right: 8px;
  display: inline-block;
  text-indent: -9999em;
}

.slide_indicator a.active {
  background: url("../img/sprites.png") no-repeat -133px -4px;
}

/* ν•λ‹¨ ν‘Έν„° */
footer {
  height: 100px;
  background-color: #62a5ec;
}

#footer_content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  color: white;
}

#footer_logo {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 16px;
}

#footer_logo span {
  color: rgb(5, 5, 5);
}

#download {
  position: absolute;
  left: 430px;
  top: 25px;
}

#author {
  position: absolute;
  top: 30px;
  left: 730px;
}
