/* 회원가입폼 레이아웃 */
#main_content {
  display: flex;
  justify-content: center;
}

#join_box h2 {
  margin-top: 30px;
  text-align: center;
}

div#join_box {
  width: 880px;
  text-align: left;
}

/* 회원가입테이블 css */
table {
  margin: 20px auto;
  border-collapse: collapse;
}

table td {
  height: 60px;
  border: 1px solid gray;
  text-align: start;
}

th {
  padding-left: 20px;
  width: 170px;
  text-align: start;
  background-color: rgb(230, 230, 230);
  border: 1px solid gray;
  color: rgb(92, 91, 91);
}

th::after {
  content: " *";
  color: red;
}

/* 폼테그 input속성 css */
input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgb(173, 173, 173);
  margin: 0 10px;
}

input[type="button"],
input[type="submit"] {
  background-color: #62a5ec;
  color: white;
  font-size: 12px;
  width: 70px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

input[type="submit"] {
  margin-bottom: 30px;
}

div {
  text-align: center;
}
